@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    max-width: 100%;
    margin: 0 auto;
    background: rgb(45, 37, 160);
}

.header-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

ul {
    display: flex;
    margin-top: 5%;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 20px;
}

.fa-bars {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: none;
}

button img {
    max-width: 24px;
    margin-right: 5px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(224, 44, 109);
    border: none;
    padding: 5px 25px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
}

button img {
    margin-left: 10px;
}

.header-contain {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.header-text-content {
    max-width: 50%;
}

.header-text-content h2 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1%;
}

.header-image-content {
    max-width: 50%;
    margin-top: 2%;
    margin-left: 20%;
}

.header-image-content img {
    max-width: 80%;
}

/* players cards desing is hear */
.players-cards {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
.player-card1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}
.player-card2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin-top: 2%;
}
.player-card3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin-top: 2%;
}
.player-card4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    margin-top: 2%;
}
.player {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    max-width: 100%;
    margin-left: 4%;
}
.player h2{
    font: 1.3rem;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 0;
    font-weight: 700;
}
.player p{
    font: 1rem;
    margin-top: 1%;
    margin-left: 2%;
    font-weight: 400;
}
.player img{
    max-width: 90%;
    justify-items: center;
    margin-left: 5%;
    margin-top: 4%;
}
/* Copa amirica section */
.copa-amirica-highlite-section{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
.copa-amiraka-content{
    max-width: 40%;
    margin-top: 6%;
}
.copa-amiraka-content h2{
    font-size: 2rem;
    line-height: 45px;
    margin-bottom: 0;
    font-weight: 700;
}
.copa-amiraka-content p{
    color: rgb(108, 108, 108);
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 0;
}
.copa-amiraka-content button{
    margin-top: 4%;
}
.copa-amirica-image{
    max-width: 50%;
}
.copa-amirica-image img{
    max-width: 100%;
}

/* Footer section desing is hear */
.footer-section{
    max-width: 40%;
    margin: 0 auto;
    margin-top: 12%;
}
.footer-image img{
    max-width: 100%;
}
.footer-icon{
    margin-left: 25%;
}
.footer-icon img{
    padding: 10px;
    max-width: 10%;
}
.copy-section{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 20%;
}
@media screen and (max-width: 576px) {
    .header-text-content h2{
        font-size: 2rem;
    }
    ul li a {
        display: none;
    }
    .fa-bars {
        display: block;
    }
    .btn {
        margin-top: 5%;
    }
    .header-contain {
        flex-direction: column;
    }
    .header-text-content {
        max-width: 80%;
        margin: 0 auto;
        margin-left: 0;
    }
    .header-text-content h2 {
        font-size: 2rem;
    }
    .header-image-content {
        max-width: 100%;
        margin: 0 auto;
        margin-left: 0;
        margin-top: 8%;
    }
    .header-image-content img {
        max-width: 110%;
    }
    .players-cards{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 5%;
    }
    .player-card1,
    .player-card2,
    .player-card3,
    .player-card4{
        grid-template-columns: 1fr;
    }
    .player{
        margin-top: 2%;
    }
    .copa-amirica-highlite-section{
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }
    .copa-amiraka-content{
        max-width: 100%;
        margin: 0 auto;
    }
    .copa-amirica-image{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 10%;
    }
    .footer-section{
        max-width: 60%;
        margin: 0 auto;
        margin-top: 10%;
    }
    .footer-icon img{
        max-width: 15%;
        padding: 5px;
    }
    .copy-section{
        font-size: 0.8rem;
    }
}